@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 에스코어드림 Reg */

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* GmarketSansLight */


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans M */

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans B */


#wrap{width: 100%; height: auto;}

/* header */
header{width: 100%; height: 84px; background-color: #5b5652;
       position: fixed; top: 0; left: 0; z-index: 30;
       border-bottom: 1px solid #cabead;}
#header_box{width: 1280px; height: 84px; margin: 0 auto;
            background-color: #5b5652; 
            display: flex; justify-content: space-between;
            align-items: center;}


nav{width: 700px; height: 60px; 
    display: flex; justify-content: space-around; align-items: center;}

nav ul li a{padding: 30px;}

nav #navi{width: 300px; height: 40px;
       display: flex; justify-content: space-around; align-items: center;}
nav #navi li a{font-family: 'S-CoreDream-4Regular'; font-size: 16px;
                color: #eaeaed;}

nav #sns_navi{width: 200px; height: 40px;
              display: flex; 
              justify-content: space-between; align-items: center;}


/* slider */
#slider{width: 1280px; height: 500px; margin: 0 auto;
        padding: 150px 0px 0px 0px;
        display: flex; 
        justify-content: space-between; align-items: center;}

#slider_text{width: 500px; height: 400px;
             display: flex; 
             flex-direction: column;}
#slider_text h2{font-family: 'GmarketSansBold'; font-weight: bold;
                font-size: 45px; color: #fff;
                padding-top: 16%;}
#slider_text p{font-family: 'GmarketSansMedium'; font-size: 20px;
               color: #fff; padding-top: 2%;}

#slider_img{width: 580px; height: 400px;}
#slider_img ul li{position: absolute;}
#slider_img ul li img{width: 580px; height: 380px; border-radius: 30px;}


/* 작품 종류 */
#work_type{width: 1280px; height: 410px; margin: 0 auto;
           padding: 8% 0;}
#work_type h2{text-align: center; font-size: 30px; color: #fff;
              font-family: 'GmarketSansMedium'; padding-bottom: 50px;}

.masterpiece{display: flex; 
             justify-content: space-around; align-items: center;}
.masterpiece > div{width: 360px; height: 320px;
                 background-color: #cabead; border-radius: 30px;}
.masterpiece > div > img{width: 95px; height: 120px; margin: 8% 0 0 36%;}
.masterpiece > div > h4{text-align: center; color: #fff;
                        font-family: 'GmarketSansLight'; font-size: 20px;
                        padding: 3% 0;}
.masterpiece > div > p{text-align: center; color: #fff;
                       font-family: 'GmarketSansLight'; font-size: 12px;}

#bff > img{margin: 8% 0 0 38%;}


/* 작품의 스타일이나 특징 */
#work_style{width: 1280px; height: 800px; margin: 0 auto;
            background-color: tan;}
#character{width: 1160px; height: 410px; background-color: azure;}
#signature{width: 1160px; height: 310px; background-color: azure;}


/* 작품 슬라이드 */
#work_slider{width: 1280px; height: 600px; margin: 0 auto;
             background-color: darkseagreen;}



#work_roadmap{width: 1280px; height: 830px; margin: 0 auto;
              background-color: lavender;}


/* 그 외의 작품 소개 */
#work_introduce{width: 1280px; height: 540px; margin: 0 auto;
                background-color: lightskyblue;}


/* FAQ */
#question{width: 1280px; height: 400px; margin: 0 auto;
          background-color: papayawhip;}
      
/* 로그인..? */
#join{width: 1280px; height: 60px; margin: 0 auto;
      background-color: lightsteelblue;}

footer{width: 1280px; height: 280px; margin: 0 auto;
       background-color: khaki;}