
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans M */

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans B */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 넥슨 Lv.1 고딕 Regular */

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 한림고딕체 */

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 에스코어드림 Reg */

@media (min-width: 1281px){
#wrap{width: 100%; height: auto;}

/* slider */
#slider{width: 1280px; height: 500px; margin: 0 auto;
        padding: 150px 0px 0px 0px;
        display: flex; 
        justify-content: space-between; align-items: center;} 

#slider_text{width: 500px; height: 400px;
             display: flex; 
             flex-direction: column; opacity: 0; transform: scale(1.2);
             transition: all 0.5s;}
#slider_text h2{font-family: 'GmarketSansBold'; font-weight: bold;
                font-size: 2.8rem; color: #fff;
                padding-top: 16%;}
#slider_text p{font-family: 'GmarketSansMedium'; font-size: 1.25rem;
               color: #fff; padding-top: 2%;}

#slider_img{width: 580px; height: 400px; opacity: 0; transform: scale(1.2);
            transition: all 0.5s; }
#slider_img ul li{position: absolute;}
#slider_img ul li img{border-radius: 30px;}


/* 시그니처 */
#signature{width: 1280px; height: 410px; margin: 0 auto;
           padding: 8% 0;}
#signature h2{text-align: center; font-size: 50px; color: #fff;
              font-family: 'NEXON Lv1 Gothic OTF'; padding-bottom: 50px;}

.masterpiece{display: flex; 
             justify-content: space-around; align-items: center;}
.masterpiece > div{width: 45%; height: 330px;
                 background-color: #cabead; border-radius: 30px;}
.masterpiece > div > img{width: 120px; margin: 5% 0 0 40%;}
.masterpiece > div > h4{text-align: center; color: #23222a;
                        font-family: 'NEXON Lv1 Gothic OTF'; font-size: 30px;
                        padding: 3% 0;}
.masterpiece > div > p{text-align: center; color: #23222a;
                       font-family: 'NEXON Lv1 Gothic OTF';}
.masterpiece #x, .masterpiece #parody{opacity: 0; transform: scale(1.2);
                                      transition: all 0.5s;}


/* 작품의 스타일이나 특징 */
#work_style{width: 1280px; height: 1000px; margin: 0 auto;
            display: flex; flex-wrap: wrap; 
            justify-content: space-around; align-items: center;}

#writer{width: 1200px; height: 410px; border-radius: 30px; 
        background-color: #23222a;
        display: flex; 
        justify-content: space-around; align-items: center;
        opacity: 0; transform: scale(1.2);
        transition: all 0.5s;}
      
#writer img{width: 470px; height: 290px; border-radius: 30px;}

#writer_text{width: 450px; height: 230px;}
#writer_text h2{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                font-size: 50px;  font-weight: bold;
                padding-bottom: 3%;}
#writer_text p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
               padding-bottom: 2%; font-size: 18px;}

#interview{width: 1200px; height: 400px; 
           padding: 8% 0; display: flex; 
           justify-content: space-between; align-items: center;
           opacity: 0; transform: scale(1.2);
           transition: all 0.5s;}

#interview #video{position: relative;}
#interview #video img{width: 530px; height: 298px; border-radius: 30px;}
#interview #video i{position: absolute; top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 60px; color: #fff; opacity: 0.8;}

#interview #video i:hover{opacity: 1; text-shadow: 0px 0px 10px #757575;
                          transition: all 0.3s ease; cursor: pointer;}

#interview_text{width: 530px; height: 340px;}
#interview_text h2{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                   font-size: 50px; font-weight: bold;
                   padding-bottom: 2%;}
#interview_text p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                   padding-bottom: 2%; font-size: 18px;}

/* 팝업 비디오 */
#myModal{width: 100%; height: 100%;
    position: fixed; top: 0; left: 0; z-index: 30;
    background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8);
    overflow: auto; display: none;}

.modal iframe{width: 1280px; height: 719px;
                position: absolute; top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                border: 0;}
.modal i{font-size: 40px; color: #fff; opacity: 0.8;
           position: absolute; top: 5%; right: 5%;}
.modal i:hover{opacity: 1; text-shadow: 0px 0px 10px #757575;
               transition: all 0.3s ease; cursor: pointer;}



/* 작품 슬라이드 */
#work_slider{width: 1280px; height: 700px; margin: 0 auto;
             position: relative;}

#work_slider h2{text-align: center; font-family: 'NEXON Lv1 Gothic OTF';
                font-size: 50px; color: #fff;
                padding-bottom: 60px;}
#work_slider i{font-size: 40px; color: #fff;
               padding: 20px 30px; border-radius: 60px;
               background-color: rgba(202, 190, 173, 0.5);
               opacity: 0; transform: scale(1.5);
               transition: all 0.5s;}
#work_slider .fa-angle-left{position: absolute; top: 40%; left: 0;}
#work_slider .fa-angle-right{position: absolute; top: 40%; right: 0;}

#work_slider > i:hover{background-color: rgba(202, 190, 173, 0.8); 
                       transition: all 0.3s ease;
                       cursor: pointer;}

.slide{width: 1058px; height: 390px; 
       margin: 0 auto; overflow: hidden;
       opacity: 0; transform: scale(1.2);
       transition: all 0.5s;}
#work_img{width: 2136px;}
.container{width: 310px; height: 390px;
           position: relative; float: left;
           margin: 0 1%;}
.image{width: 100%; height: auto;
       border-radius: 30px;}
.overlay{width: 100%; height: 100%;
         position: absolute; bottom: 0;
         background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);
         border-radius: 30px; opacity: 0;
         transition: all 0.3s ease;}
.text{font-family: 'S-CoreDream-4Regular'; font-size: 30px; color: #fff;
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);}

.container:hover .overlay{opacity: 1;}

#work_slider span{width: 20px; height: 20px; 
                  border-radius: 60px;}
#work_slider .first{background-color: #23222a;
                    position: absolute; left: 49%; bottom: 22%;}
#work_slider .second{background-color: #cacaca;
                     position: absolute; left: 51%; bottom: 22%;}

#work_slider span:hover{transform: scale(1.1); transition: all 0.3s ease;
                        cursor: pointer;}

/* 작가 커리어 */
#careers{width: 1280px; height: 850px; margin: 0 auto;
        display: flex; flex-direction: column;
        align-items: center;}
#careers h2{text-align: center; font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 50px; color: #fff;
            padding-bottom: 60px;}
#roadmap{width: 100%; height: 750px;
         display: flex; 
         justify-content: center; align-items: center;}

#career_left{width: 635px; height: 600px;
              display: flex; flex-direction: column;
              justify-content: space-around; align-items: flex-end;}
#career_right{width: 635px; height: 600px;
    display: flex; flex-direction: column;
    justify-content: space-around; align-items: flex-start;}

#career_left{text-align: right; padding-bottom: 135px;}
#career_right{text-align: left; padding-top: 135px;}

.left{width: 500px; height: 200px;
      display: flex; 
      justify-content: space-between; align-items: center;}
.left img{width: 160px; height: 160px;
          padding: 0 5%;}
.right img{width: 160px; height: 160px;
           padding: 0 5%;}
.right{width: 500px; height: 200px;
       display: flex; 
       justify-content: space-between; align-items: center;}
#two{width: 400px;}

#career_left h4, #career_right h4{font-family: 'NEXON Lv1 Gothic OTF'; font-size: 30px;
                                  padding: 3% 0; color: #fff;}
#career_left p, #career_right p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;}

#one{padding-bottom: 3%;}

#solid{width: 10px; height: 700px; position: relative;}
#solid .dot{width: 13px; height: 13px;
            background-color: #23222a; 
            position: relative; z-index: 10;
            border-radius: 30px;}
#solid > div:nth-of-type(1){position: absolute;
                           top: -1%; left: -10%;}
#solid > div:nth-of-type(3){position: absolute;
                           bottom: -1%; left: -10%;}

.line{width: 2px; height: 700px; background: #cacaca;
      overflow: hidden; margin: 0 auto;} 
.line1{width: 100%; height: 0%; background-color: #23222a;
       margin: 0 auto;}
       


/* 그 외의 작품 소개 */
#work_introduce{width: 1280px; height: 540px; margin: 0 auto;
                padding-top: 7%; padding-bottom: 5%;}
#work_introduce h2{text-align: center; font-size: 50px; color: #fff;
                   font-family: 'NEXON Lv1 Gothic OTF'; padding-bottom: 50px;}

#other_work{width: 100%; height: 400px; 
            display: flex; 
            justify-content: space-around; align-items: center;
            opacity: 0; transform: scale(1.2);
            transition: all 0.5s;}
#other_work > div{width: 300px; height: 400px;}
#other_work > div > img{margin: 0 23%;}
#other_work h4{text-align: center; color: #fff;
               font-family: 'NEXON Lv1 Gothic OTF'; font-size: 30px;
               padding: 3% 0;}
#other_work p {text-align: center;
               font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;}

#other_work #graffiti p{padding-top: 10px;}
#other_work #balloon p{padding-top: 15px;}


/* FAQ */
#question{width: 1280px; height: auto; margin: 0 auto;
          display: flex; justify-content: space-between;
          align-items: flex-start; padding-bottom: 8%;}

#faq{width: 300px; height: 50px;
     opacity: 0; transform: scale(1.2);
     transition: all 0.5s;}
#faq h2{text-align: left; font-size: 50px; color: #fff;
             font-family: 'NEXON Lv1 Gothic OTF'; padding-bottom: 1%;}
#faq p{text-align: left; font-size: 20px; color: #fff;
       font-family: 'NEXON Lv1 Gothic OTF'; }

#slide_question{width: 600px; height: auto;}
#slide_question .question{width: 100%; height: auto; 
                          background-color: #cabead;
                          border-radius: 10px; position: relative;
                           margin: 3% 0;}
.question .title{width: 90%; height: 80px; padding-left: 5%;
                 display: flex; justify-content: space-between;
                 align-items: center;}
.question h4{font-family: 'HallymGothic-Regular'; font-size: 23px;
             color: #23222a;}
.question i{font-size: 20px; color: #23222a; transition: all 0.3s;}

.textSlide {width: 100%; height: auto; display: none;}

#slide_question .active{background-color: #5b5652; border: 2px solid #cabead;
                        transition: all 0.3s;}

#slide_question .active h4, #slide_question .active i, #slide_question .active p {color: #fff;}

#slide_question .active i{transform: scaleY(-1); transition: all 0.3s;}

.textSlide p{font-family: 'NEXON Lv1 Gothic OTF'; font-size: 18px;
             color: #23222a; margin: 3% 5%;}
.textSlide p:last-of-type{padding-bottom: 5%;}

.sliding{height: 380px; background-color: #5b5652;
         border: 2px solid #cabead;}

.question:hover{cursor: pointer;}
}