
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans M */

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans B */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 넥슨 Lv.1 고딕 Regular */

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 한림고딕체 */

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 에스코어드림 Reg */

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* LAB디지털체 */


/* 슬라이더 */
#slider{width: 100%; height: 800px;}
#slider_box{width: 1280px; height: 800px; margin: 0 auto;
            position: relative;}
#slider_container{width: 1280px; height: 656px;
                  padding-top: 60px;
                  position: absolute; top: 84px; left: 0;
                  display: flex; justify-content: space-between;}

#slider_container img{width: 450px; height: 533px;
                      border-radius: 30px;}

#slider_info{width: 600px; height: 510px;
             display: flex; flex-direction: column;
             justify-content: space-around; align-items: flex-start;}

#infomation{width: 580px; height: 250px;}

#slider_container h4{font-family: "GmarketSansMedium"; font-size: 20px;
                     color: #fff;}
#slider_container h1{font-family: 'GmarketSansBold'; font-size: 45px;
                     color: #fff;}
#slider_container p{font-family: 'GmarketSansMedium'; color: #fff;}


/* 가격 & 알림설정 */
#price{width: 350px; height: 70px;
       display: flex; justify-content: space-around;
       align-items: flex-start;}
#price span{font-family: 'GmarketSansMedium'; font-size: 45px;
            color: #fff; margin-top: 10px;}
.icon{width: 30px; height: 30px;
      position: relative;}
.icon i{font-size: 35px; color: #fff;
        position: absolute;
        top: 0; left: 0;
        background-color: #cabead;
        padding: 15px; border-radius: 15px;}
.icon .fa-solid{display: none;}


/* 예약 마감 카운트다운 */
#stopwatch{width: 500px; height: 100px; 
            background-color: #23222a; border-radius: 30px;
            display: flex; justify-content: space-evenly;
            align-items: center;}
#stopwatch i{color: #fff; font-size: 60px;}
#stopwatch p{width: 368px; height: 75px;
              font-family: 'LAB디지털';
              font-size: 75px; color: #fff;}

/* 예약 고객 정보 */
#reservation{width: 100%; height: 750px;
             position: relative;}
#reservation_box{width: 1280px; height: 750px; margin: 0 auto;
                 position: relative; z-index: 3;
                 display: flex;
                 justify-content: space-between; align-items: center;}

.background{width: 30%; height: 100%;
            background-color: #cabead;
            position: absolute; left: 0;
            border-radius: 0 30px 30px 0;}


/* 고객 정보 입력란 */
#form_info{width: 560px; height: 650px;
           background-color: #23222a;
           border-radius: 30px;
           box-shadow: 10px 10px 15px #44403a;}

#form_info h2{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
              font-size: 35px; text-align: center;
              padding: 30px 0 0 0;}

#form_info form{width: 100%; height: 76%; margin: 0 auto;
                display: flex; flex-direction: column;
                justify-content: space-between; align-items: center;
                padding-top: 1%;}
                
#form_info label{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                 font-size: 18px;}


/* 이름 & 아이디 */
.name_id{width: 85%; height: 23%;
         display: flex; flex-wrap: nowrap;
         justify-content: space-between; align-items: center;}

.name_id label{margin-bottom: 5px;}
.name_id input{width: 200px; height: 30px; border-radius: 10px;
               border: 1px solid #23222a; 
               font-family: 'NEXON Lv1 Gothic OTF';
               font-size: 14px; padding: 15px 0 15px 7px;}


/* 배송지 */
.destination{width: 85%; height: 20%;}
.destination textarea{width: 98%; height: 45px; border-radius: 10px;
                      border: 1px solid #23222a; 
                      font-family: 'NEXON Lv1 Gothic OTF';
                      font-size: 14px; padding: 10px 0 10px 10px;}
.destination textarea:focus{border: 2px solid #cabead; outline: none;}


/* 구매 수량 */
.quantity{width: 85%; height: 10%;}
.quantity label{margin-right: 5px;}
.quantity select{padding: 5px 20px; border-radius: 10px;
                 border: 1px solid #23222a;
                 font-family: 'NEXON Lv1 Gothic OTF'; font-size: 18px;}
.quantity select:focus{outline: none; border: 2px solid #cabead;}
.quantity option{font-family: 'NEXON Lv1 Gothic OTF'; font-size: 18px;}


/* 체크박스 디자인 */
.container{display: block; position: relative;
           padding-left: 35px; margin-bottom: 12px;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;}
.container input{position: absolute;
                 cursor: pointer;
                 width: 0; height: 0;}
.checkmark{position: absolute;
           top: 0; left: 0;
           width: 25px; height: 25px;
           background-color: #fff;
           border-radius: 5px;}
.container input:checked ~ .checkmark{background-color: #cabead;}
.checkmark:after{content: "\f00c";
                 font-family: "Font Awesome 5 Free";
                 font-weight: 900;
                 position: absolute;
                 display: none;}
.container input:checked ~ .checkmark:after{display: block;
                                            position: absolute;
                                            top: 3px; left: 5px;}
.container .checkbox:after{content: "\f00c";
                           font-family: "Font Awesome 5 Free";
                           font-weight: 900;
                           top: 5px; left: 9px;
                           width: 5px; height: 10px;
                           border-width: 0 3px 3px 0;
                           transform: rotate(45deg);}


/* 정보 제공 동의 */
.agree{width: 85%; height: 5%; margin: 3% 0 1% 0;}

.container span{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                font-size: 18px;}


/* 제출 버튼 */
input[type="submit"]{width: 85%; height: 10%;
                     border: none; border-radius: 10px;
                     background-color: #cabead; font-size: 18px;
                     font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                     margin-bottom: 2%;}

/* 로그인 유무 */
#login{width: 85%; height: 20px; margin: 0 auto;
       display: flex; justify-content: center;}
#login p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
         font-size: 18px; margin-right: 10px;}
#login a{font-family: 'NEXON Lv1 Gothic OTF'; color: #cabead;
         font-size: 18px; text-decoration: underline;}


/* 연락처 */
#form_text{width: 600px; height: 80%;
           display: flex; flex-direction: column;
           justify-content: space-between; align-items: flex-start;}
#form_text h4{font-family: "GmarketSansMedium"; font-size: 20px;
              color: #fff;}
#form_text h1{font-family: "GmarketSansMedium"; font-size: 40px;
              color: #fff;}
#form_text #contact{width: 100%; height: 15%;
                    padding: 3% 0 30% 0; display: flex;
                    justify-content: space-between; align-items: center;}

#contact #call, #contact #mail{width: 60%; height: 30%;
                               display: flex;
                               justify-content: space-around; align-items: center;}
#contact #call i, #contact #mail i{color: #fff; font-size: 40px;
                                   background-color: #cabead; padding: 15px;
                                   border-radius: 10px;}
#contact #call div, #contact #mail div{width: 60%; height: 100%;
                                       font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                                       font-size: 20px; text-align: center;
                                       border-bottom: 1px solid #cabead;}

#form_text p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
             font-size: 18px;}

/* 다른 제품 슬라이드 */
#othrer{width: 100%; height: 950px;}
#other_box{width: 1280px; height: 950px; margin: 0 auto;
           border: 1px solid green;} 
#other_box h4{font-family: "GmarketSansMedium"; font-size: 20px;
              color: #fff; margin-top: 10%;}
#other_box h1{font-family: "GmarketSansMedium"; font-size: 40px;
              color: #fff;}


