
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans M */

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans B */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 넥슨 Lv.1 고딕 Regular */

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 한림고딕체 */

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 에스코어드림 Reg */

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* LAB디지털체 */


@media(max-width: 769px){

html{overflow-x: hidden;}

/* 슬라이더 */
#slider{width: 100%; height: 200vw; 
        margin-bottom: 20%;}
#slider_box{width: 100%; height: 200vw; margin: 0 auto;
            position: relative;}
#slider_container{width: 100%; height: 170vw;
                  padding-top: 15%;
                  position: absolute; top: 84px; left: 0;
                  display: flex; flex-direction: column;
                  justify-content: space-between;
                  align-items: flex-start;
                  opacity: 0; transform: scale(1.2);
                  transition: all 0.5s;}

#slider_container img{width: 85%;
                      border-radius: 2.3vw;
                      margin-left: 7%;}

#slider_info{width: 100%; height: 65vw; margin-left: 3%;
             display: flex; flex-direction: column;
             justify-content: space-around; align-items: flex-start;}

#infomation{width: 100%; height: 35vw;}

#slider_container h4{font-family: "GmarketSansMedium"; font-size: 3.5vw;
                     color: #fff;}
#slider_container h1{font-family: 'GmarketSansBold'; font-size: 6.5vw;
                     color: #fff;}
#slider_container p{font-family: 'GmarketSansMedium'; font-size: 2.5vw;
                    color: #fff;}


/* 가격 & 알림설정 */
#price{width: 100%; height: 10vw;
       display: flex; justify-content: flex-start;
       align-items: center;}
#price span{font-family: 'GmarketSansMedium'; font-size: 6vw;
            color: #fff; margin: 1vw 1.5vw 0 0;}
.icon{width: 8vw; height: 8vw;
      position: relative;}
.icon i{font-size: 6vw; color: #fff;
        position: absolute;
        top: 0; left: 0;
        background-color: #cabead;
        padding:1.5vw; border-radius: 1.5vw;}
.icon .fa-solid{display: none;}


/* 예약 마감 카운트다운 */
#stopwatch{width: 65vw; height: 12vw; 
            background-color: #23222a; border-radius: 2.3vw;
            display: flex; justify-content: space-evenly;
            align-items: center;}
#stopwatch i{color: #fff; font-size: 8vw;}
#stopwatch p{width: 44vw; height: 9vw;
              font-family: 'LAB디지털';
              font-size: 9vw; color: #fff;}

/* 예약 고객 정보 */
#reservation{width: 100%; height: 180vw;
             position: relative; margin: 10% 0;}
#reservation_box{width: 100%; height: 180vw; margin: 0 auto;
                 position: relative; z-index: 3;
                 display: flex; flex-direction: column-reverse;
                 justify-content: space-around; align-items: flex-start;}

.background{width: 100%; height: 25%;
            background-color: #cabead;
            position: absolute; bottom: 0; left: 0;}


/* 고객 정보 입력란 */
#form_info{width: 90%; height: 90vw;
           background-color: #23222a;
           border-radius: 5vw;
           box-shadow: 0 1.5vw 2vw #44403a;
           opacity: 0; transform: scale(1.2);
           transition: all 0.5s;
           margin-left: 5%;}

#form_info h2{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
              font-size: 4.5vw; text-align: center;
              padding: 5.5vw 0 0 0;}

#form_info form{width: 100%; height: 75%; margin: 0 auto;
                display: flex; flex-direction: column;
                justify-content: space-between; align-items: center;
                padding-top: 1%;}
                
#form_info label{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                 font-size: 3vw;}


/* 이름 & 아이디 */
.name_id{width: 85%; height: 23%;
         display: flex; flex-wrap: nowrap;
         justify-content: space-between; align-items: center;}

.name_id label{margin-bottom: 0.4vw;}
.name_id input{width: 33vw; height: 4.5vw; border-radius: 1.5vw;
               border: 1px solid #23222a; 
               font-family: 'NEXON Lv1 Gothic OTF';
               font-size: 2vw; padding: 1.2vw 0 1.2vw 1vw;}


/* 배송지 */
.destination{width: 85%; height: 25%;}
.destination textarea{width: 98%; height: 7.5vw; border-radius: 1.5vw;
                      border: 1px solid #23222a; 
                      font-family: 'NEXON Lv1 Gothic OTF';
                      font-size: 2vw; padding: 1.2vw 0 1.2vw 1vw;}
.destination textarea:focus{border: 2px solid #cabead; outline: none;}


/* 구매 수량 */
.quantity{width: 85%; height: 10%;}
.quantity label{margin-right: 0.4vw;}
.quantity select{padding: 1vw 4vw; border-radius: 1.5vw;
                 border: 1px solid #23222a;
                 font-family: 'NEXON Lv1 Gothic OTF'; font-size: 2.5vw;}
.quantity select:focus{outline: none; border: 2px solid #cabead;}
.quantity option{font-family: 'NEXON Lv1 Gothic OTF'; font-size: 2.5vw;}


/* 체크박스 디자인 */
.container{display: block; position: relative;
           padding-left: 2.7vw; margin-bottom: 0.9vw;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;}
.container input{position: absolute;
                 cursor: pointer;
                 width: 0; height: 0;}
.container .check{margin-left: 1vw;}
.checkmark{position: absolute;
           top: 0.3vw; left: 0;
           width: 2.5vw; height: 2.5vw;
           background-color: #fff;
           border-radius: 0.4vw;}   
.container input:checked ~ .checkmark{background-color: #cabead;}
.checkmark:after{content: "\f00c";
                 font-family: "Font Awesome 5 Free";
                 font-weight: 900;
                 position: absolute;
                 display: none;}
.container input:checked ~ .checkmark:after{display: block;
                                            position: absolute;
                                            top: 0.2vw; left: 0.3vw;}
.container .checkbox:after{content: "\f00c";
                           font-family: "Font Awesome 5 Free";
                           font-weight: 900;
                           top: 0.4vw; left: 0.7vw;
                           width: 2.5vw; height: 2.5vw;
                           border-width: 0 0.2vw 0.2vw 0;
                           transform: rotate(45deg);}


/* 정보 제공 동의 */
.agree{width: 85%; height: 5%; margin: 3% 0 0.5% 0;}

.container span{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                font-size: 2vw;}


/* 제출 버튼 */
input[type="submit"]{width: 85%; height: 12%;
                     border: none; border-radius: 1.5vw;
                     background-color: #cabead; font-size: 3vw;
                     font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                     margin-bottom: 2%;}

/* 로그인 유무 */
#login{width: 85%; height: 3vw; margin: 0 auto;
       display: flex; justify-content: center;}
#login p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
         font-size: 2.5vw; margin-right: 0.8vw;}
#login a{font-family: 'NEXON Lv1 Gothic OTF'; color: #cabead;
         font-size: 2.5vw; text-decoration: underline;}


/* 연락처 */
#form_text{width: 100%; height: 60vw;
           display: flex; flex-direction: column;
           justify-content: space-between; align-items: flex-start;
           margin-left: 3%;}
#form_text h4{font-family: "GmarketSansMedium"; font-size: 2.5vw;
              color: #fff;}
#form_text h1{font-family: "GmarketSansMedium"; font-size: 5vw;
              color: #fff;}
#form_text #contact{width: 75%; height: 30%;
                    padding: 3% 0; display: flex;
                    justify-content: space-between; align-items: center;}

#contact #call, #contact #mail{width: 100%; height: 30%;
                               display: flex;
                               justify-content: space-around; align-items: center;}
#contact #call i, #contact #mail i{color: #fff; font-size: 5vw;
                                   background-color: #cabead; padding: 1.8vw;
                                   border-radius: 10px;}
#contact #call div, #contact #mail div{width: 65%; height: 70%;
                                       font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
                                       font-size: 2.5vw; text-align: center;
                                       border-bottom: 1px solid #cabead;}

#form_text p{font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;
             font-size: 2.5vw;}

/* 다른 제품 슬라이드 */
#othrer{width: 100%; height: 130vw;}
#other_box{width: 100%; height: 130vw; margin: 0 auto;
           overflow: hidden;} 

#other_text{width: 100%; height: 35vw; margin: 0 auto;
            position: relative; margin: 0 3%;}
#other_text h4{font-family: "GmarketSansMedium"; font-size: 3vw;
               color: #fff; margin-top: 15%;}
#other_text h1{font-family: "GmarketSansMedium"; font-size: 6vw;
               color: #fff; margin-bottom: 3%;}
#other_text i{font-size: 4vw; color: #fff;
              background-color: rgba(35, 34, 42, 0.5);
              padding: 3vw 3.8vw; border-radius: 5vw;
              position: absolute; bottom: 10%;}

#other_text .fa-solid:hover{background-color: #23222a; transition: all 0.5s ease;}

#other_text .fa-angle-left{right: 15%;}
#other_text .fa-angle-right{right: 4%;}

#other_slide{width: 100%; height: 60vw;
             overflow: hidden; margin-left: 15.5%;}
#other_img{width: 358vw; height: 60vw;}
#other_img > .slideBox{width: 56vw; height: 60vw; 
                       background-color: #cabead; border-radius: 1.5vw;
                       float: left; margin: 0 0.5%;
                       display: flex; flex-direction: column;
                       justify-content: center;}
.slideBox > img, .slideBox > .slideText{margin-left: 8.5%;}
.slidetext{width: 23vw; height: 30%;}
.slideBox h5{font-family: 'NEXON Lv1 Gothic OTF'; color: #23222a;
             font-size: 3.5vw; margin: 6% 0 1.5% 0;
             line-height: 4vw;}
.slideBox span{font-family: 'NEXON Lv1 Gothic OTF'; color: #23222a;
               font-size: 3vw;}
.slideBox img{width: 46.5vw; height: 30vw;
              border-radius: 1.5vw;}

}